@{
  ViewBag.Title = "Home";
}

<header class="page-header">
  <h2>Module 1 <small>A simple module that just returns a razor page</small></h2>
</header>

<p class="lead">
  This is nothing particularly special, it's not an amazing feat of engineering by any stretch, it's simply a small
  indipendant siloed application, that does MVC pretty much exactly the same way as the main ASP.NET MVC framework.
</p>

<p>
  It uses NancyFX to provide the page level routing and Razor views, it uses the OWIN pipeline to plumb in what it needs
  for the ASP.NET middleware and the whole lot is wrapped up in a single windows service thats controled by the topshelf toolkit.
</p>
