<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="ReverseProxyInboundRule1" stopProcessing="true">
                    <match url="^module1/(.*)" />
                    <conditions>
                    </conditions>
                    <action type="Rewrite" url="http://localhost:7001/{R:1}" />
                </rule>
                <rule name="ReverseProxyInboundRule2" stopProcessing="true">
                    <match url="^module2/(.*)" />
                    <conditions>
                    </conditions>
                    <action type="Rewrite" url="http://localhost:7002/{R:1}" />
                </rule>
                <rule name="ReverseProxyInboundRule3" stopProcessing="true">
                    <match url="^module3/(.*)" />
                    <conditions>
                    </conditions>
                    <action type="Rewrite" url="http://localhost:7003/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>

</configuration>
